<div class="container">
  <% unless logged_in? %>
    <div class="form-group">
      <h1>login</h1>
      <%= form_with(scope: :session, url:sessions_path,local:true) do|f| %>
      <%= f.label :email %>
      <%= f.email_field :email,:type=>"email",
                              :class=>"form-control",
                              :id=>"exampleInputEmail1" %>
      <%= f.label :password %>
      <%= f.password_field :password,:type=>"password",
                              :class=>"form-control",
                              :id=>"exampleInputPassword1" %>
      <br>
      <%= f.submit "Log in",:class=>"btn btn-primary" %>
      <% end %>
    </div>
    <% else %>
    <p><strong>Alert</strong>: you are already logged in </p>
    <span class="badge badge-pill badge-warning"><%= link_to "your Profile", user_path(current_user.id) %></span>
    <span class="badge badge-pill badge-danger"><%= link_to "Logout", session_path(current_user.id), method: :delete, data:{confirm:'Are you sure ?'} %></span>
  <% end %>

</div>
